<table>
    <tbody>
        {{#each data}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.username}}</td>
                <td>{{this.password}}</td>
                <td>{{this.email}}</td>
                <td>{{this.rol}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>